.is-relative {
  position: relative;
}
.is-absolute {
  position: absolute;
}
.icon-wrapper {
  top: 7%;
  right: 7%;
  font-size: 22px;
  color: black;
  cursor: pointer;
  color: red;
}
.img-wrapper {
  width: 100%;
  height: 390px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-wrapper:hover img {
  scale: 1.1;
}
.singer-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s linear;
}
#singers,
#login,
#register,
#add-singer,
#singer-detail,
#favorites,
#not-found {
  margin-top: 22px;
}

#contact-us {
  position: relative;
}
#contact-us iframe {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  height: 66vh;
}
#contact-us form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 30px;
  bottom: -7%;
}

.loader {
  width: 48px;
  height: 48px;
  padding: 30px;
  display: block;
  margin: 20px auto;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.cover-image {
  object-fit: cover;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
