.btn {
  background-color: darkgray;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 22px;
  cursor: pointer;
}
.btn-primary {
  background-color: deepskyblue;
}
.btn-info {
  background-color: aquamarine;
}
.btn-success {
  background-color: olive;
}
.btn-danger {
  background-color: tomato;
}
