.input {
    width: 270px;
    height: 54px;
    border: 3px solid $input-border;
    border-right: none;
    padding-left: 20px;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    outline: none;
    font-size: 18px;
}