.header {
  width: 100%;
  position: fixed;
  height: 80px;
  background: rgb(10, 106, 34);
  background: linear-gradient(
    90deg,
    rgba(10, 106, 34, 1) 0%,
    rgba(134, 235, 77, 1) 100%
  );
}
.header .header__logo {
  width: 40px;
  height: 40px;
}
.header .header__logo .header__logo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.space-between {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .header__links {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 16px;
}
.header .header__links .header__links__item .header__links__item--link {
  color: black;
}
.header .header__links .header__links__item .header__links__item--link:hover {
  color: darkgreen;
  text-shadow: 1px 1px 2px white;
}
main {
  padding-top: 100px;
}
h1 {
  text-align: center;
}

.card {
  border-radius: 7px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.card__top{
    text-align: center;
    padding: 22px;
    cursor: pointer;
    border-bottom: 1px solid gray;
    transition: .3s linear;
}
.card__img{
    height: 270px;
    overflow: hidden;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    transition: .3s linear;
}
.card__bottom{
    text-align: left;
    padding: 12px 14px;
    padding-bottom: 20px;
}
.card__bottom audio{
    width: 90%;
    margin: 10px auto;
}
.card:hover img{
    scale: 1.3;
}
.card:hover .card__top{
    background-color: black;
    color: white;
}