$violet: #7E33E0;
$light-violet: #F6F5FF;
$pink: #FB2E86;
$white: white;
$footer-bgc: #8A8FB9;
$footer-light: #E7E4F8;
$icon-bgc: #151875;
$heading-color:#0D0E43;
$input-border: #E7E6EF;
$not-found-heading: #101750;
$main-font: "Josefin Sans";